body {
    background-image: url("image/back.jpg");
    background-repeat: no-repeat;
    background-color: gainsboro;
    background-size: cover;
    color: white;
}

.grid-container1 {
    display: grid;
    grid-template-columns: auto auto;
}

.grid-container1>div {
    text-align: center;
    padding: 30px;
}

.item3 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.grid-container2>div {
    text-align: center;
    padding: 30px;
}

.grid-container2 label {
    cursor: pointer;
}